<!DOCTYPE html>
<!-- Main Navigation Bar and Footer -->
<html>


    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type= "text/css" href="/css/stylesheet1.css">

    </head>
    <body>
        <div id="navDiv"> 
        <ul> 
            <p> Northern Valley Vineyards </p> 
            <li><a href="/contact"> Contact</a> </li>
            <li><a href="/people"> People</a> </li>
            <li><a href="/shop"> Shop</a> </li>
            <li><a href="/about"> About</a> </li>
            <li><a href="/"> Home</a> </li>
        </ul>
    </div>



        {{{body}}}



    <div id="footer"> 
   
        <ul> 
            <p> FOLLOW US  </p> 
            <li style="color:#a07575"><img src = "/pictures/facebook.png"/> Facebook</li>
            <li style="color:#a07575"><img src = "/pictures/twitter.png"/> Twitter</li>
            <li style="color:#a07575"><img src = "/pictures/instagram.png"/> Instagram</li>
        </ul>
    </div>      
         
            <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    </body>

</html>
