
<div >
        <img id="imageabout" src = "/pictures/picture2.jpg" alt "Wineyard" />
        <br/>
</div>
<div style="background-color:#FFFFFF">
<div class="container" >
        <h1 id="h1about"> About us </h1>
        <br/>
        <p id="pabout"> Our wine is the fruit of the land of the rich and full of life mountains, of the burning sun that illuminates our slopes, it comes from the love that men bring to the earth. Our wine tells a story of tradition, respect, and promises.</p>
        <p id="pabout">Its quailty is our priority, we select the best vines from Europe, Latin America and the United States to produce unique combinations recognized throughout the world. The wine ages in our centuries-old barrels, and drinking a sip is like making a journey back in time.</p>
        <p id="pabout">We believe that happiness originates in sharing, excellence, and sometimes in getting inebriated. At Northern Wineyards we do not make a drink like any other, we distill happiness every day. </p>
        </br>
</div>
</div>
      

