  
   <title>Northern Valley - Contact</title>
   <div>
     
    <img class="imagecontact" src = "/pictures/picturecontact.png" alt "Wineyard" />
  
    <div style="background-color:#FFFFFF">
     </br> 
        <div class="container">
         <h1 id="h1about" style="padding-left: 470px"> Contact Us </h1>
         </div>
         </br> 
        <form action="/my-handling-form-page" method="post">
    <div>
        <label for="name">Name:</label>
        <input  type="text" id="name" name="user_name">
    </div>
    <div>
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" name="user_mail">
    </div>
     <div>
        <label for="Phone">Phone:</label>
        <input  type="phone" id="phone" name="user_phone">
    </div>
    <div>
        <label for="msg">Message:</label>
        <textarea id="msg" name="user_message"></textarea>
    </div>
    <a class="btn btn-default button10" href="#" role="button">Submit</a>
</div>
</form>
</br> 
</br> 
</div>
</div>
