
<title>Northern Valley - Home</title>
 <div id="container">
            <img class="slides" src="/pictures/Wine1.jpg "/>
            <img class ="slides" src="/pictures/Wine2.jpg"/>
            <img class= "slides" src="/pictures/Wine3.jpg"/>
             <img class= "slides" src="/pictures/Wine4.jpg"/>
             <img class= "slides" src="/pictures/Wine5.jpg"/>
            <button class="btn" onClick="plusIndex(-1)" id = "btn1"> &#10094; </button>
            <button class="btn" onClick="plusIndex(+1)" id= "btn2"> &#10095; </button>
        </div>
<script>
        var index = 1; 
        function plusIndex(n){
            index = index +n;
            showImage(index);
        }
        showImage(1);

        function showImage(n){
            var i;
            var x = document.getElementsByClassName("slides");
            if(n > x.length){index = 1;}
            if(n < 1){index = x.length;}
            for ( i=0; i< x.length; i++)
            {
                x[i].style.display ="none";
            }
        x[index-1].style.display="block";
        }
        autoSlide();
        function autoSlide(){
            var i;
            var x = document.getElementsByClassName("slides");
             for ( i=0; i< x.length; i++)
            {
                x[i].style.display ="none";
            }
            if(index > x.length)
            {
                index=1;
            }
            x[index-1].style.display = "block";
            index++;
            setTimeout(autoSlide,2000)
        }
    </script>
 