
       <title> Order Form </title>
        </div>
       <img class="imageorders" src = "/pictures/pictureorders.jpg" >
    <div class="form">
        <form action="/action_page.php">
                <br>
            <label for="email">Email :   </label>
                <br>
            <input type="text" id="email" name="email" placeholder="Your email..">
                <br>
            <label for="fname">First Name :   </label>
                <br>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
                <br>
            <label for="lname">Last Name :    </label>
                <br>
             <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                <br>
            <label for="address">Address :   </label>
                <br>
             <input type="text" id="address" name="address" placeholder="Your address..">
                <br>
             <label for="Your choice">Choice :    </label>
                <br>
            <select id="Choice" name="choice">
                <option value="select your choice">Choose your wine..</option>
                <option value="barefoot">Barefoot</option>
                <option value="blackstone">Blackstone</option>
                <option value="doug dog">Doug Dog</option>
                <option value="northern">Northern</option>
                <option value="pittsburgh kiss">Pittsburgh Kiss</option>
                <option value="river road">River Road</option>
            </select>
                <br>
            <label for="quantity">Quantity :    </label>
                <br>
            <input type="number" id="quantity" name="quantity" placeholder="Quantity:" >
                <br>
            <input type="submit" value="Submit">
        </form>
    </div>
    
   