<title>Northern Valley - People</title>



<div style="background-color:#FFFFFF">
    <div class="container">    
    </br>
    </br>
    

    
    
    <div class="row">

            <div class="col-md-2">
            </div>

            <div class="col-md-3">
               
                <img class="img-responsive" src="/pictures/vanessa.jpg" alt="" style="width:80%">
            </div>

            <div class="col-md-4">
                <h3>Vanessa BAGDY</h3>
                 <h4>b00673080</h4>
                <p> After living in France for over 2 years, my love for wine has grown exponentially. I cannot imagine a single weekend go by without some exquisite country Wine. My passion for wine is just as strong as my passion for Website Creation.  </p>
            </div>

            <div class="col-md-2">
            </div>
        </div>
   
   <hr>
   <div class="row">

            <div class="col-md-2">
            </div>

            <div class="col-md-3">
               
                <img class="img-responsive" src="/pictures/wanying.jpeg " alt="" style="width:80%" >
            </div>

            <div class="col-md-4">
                <h3>Wanying WEI</h3>
                <h4>b00697317</h4>
                <p>I believe that making wine is like creating websites, you have to be patient and think through every detail. You also need to get some excellent people to work with. That's why I think I am lucky.</p>
            </div>

            <div class="col-md-2">
            </div>
        </div>
   
   <hr>
   <div class="row">

            <div class="col-md-2">
            </div>

            <div class="col-md-3">
               
                <img class="img-responsive" src="/pictures/ " alt="" style="width:80%">
            </div>

            <div class="col-md-4">
                <h3>Raphaël BROUSSE</h3>
                 <h4>b00603431</h4>
                <p>I was born and raised in Bordeaux, I grew up in the vineyards my mother used to put wine in my feeding bottle. I am now a world-class wine specialist and I really enjoy my time at Northern Valley !</p>
            </div>

            <div class="col-md-2">
            </div>
        </div>
   
   <hr>
   <div class="row">

            <div class="col-md-2">
            </div>

            <div class="col-md-3">
               
                <img class="img-responsive" src="/pictures/ " alt="" style="width:80%">
            </div>

            <div class="col-md-4">
                <h3>Soufiane BOUFROU</h3>
                 <h4>b00</h4>
                <p>Introduction kkkkkkkkkkkkkkkkkkkkkkkkkkkk kkkk kkkkk kkkkk kkkkkk kkkkk kkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>
            </div>

            <div class="col-md-2">
            </div>
        </div>
        </br>
        </br>

    </div>
</div>
   
   

       