<title>Northern Valley - People</title>



<div style="background-color:#FFFFFF">
    <div class="container">    
    </br>
    </br>
    

    
    
    <div class="row">

            <div class="col-md-2">
            </div>

            <div class="col-md-3">
               
                <img class="img-responsive" src="/ " alt="" style="width:80%">
            </div>

            <div class="col-md-4">
                <h3>Vanessa BAGDY</h3>
                <p>Introduction kkkkkkkkkkkkkkkkkkkkkkkkkkkk kkkk kkkkk kkkkk kkkkkk kkkkk kkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>
            </div>

            <div class="col-md-2">
            </div>
        </div>
   
   <hr>
   <div class="row">

            <div class="col-md-2">
            </div>

            <div class="col-md-3">
               
                <img class="img-responsive" src="/pictures/wanying.jpeg " alt="" style="width:80%" >
            </div>

            <div class="col-md-4">
                <h3>Wanying WEI</h3>
                <p>Introduction kkkkkkkkkkkkkkkkkkkkkkkkkkkk kkkk kkkkk kkkkk kkkkkk kkkkk kkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>
            </div>

            <div class="col-md-2">
            </div>
        </div>
   
   <hr>
   <div class="row">

            <div class="col-md-2">
            </div>

            <div class="col-md-3">
               
                <img class="img-responsive" src="/pictures/ " alt="" style="width:80%">
            </div>

            <div class="col-md-4">
                <h3>Raphaël BROUSSE</h3>
                <p>Introduction kkkkkkkkkkkkkkkkkkkkkkkkkkkk kkkk kkkkk kkkkk kkkkkk kkkkk kkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>
            </div>

            <div class="col-md-2">
            </div>
        </div>
   
   <hr>
   <div class="row">

            <div class="col-md-2">
            </div>

            <div class="col-md-3">
               
                <img class="img-responsive" src="/pictures/ " alt="" style="width:80%">
            </div>

            <div class="col-md-4">
                <h3>Soufiane BOUFROU</h3>
                <p>Introduction kkkkkkkkkkkkkkkkkkkkkkkkkkkk kkkk kkkkk kkkkk kkkkkk kkkkk kkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>
            </div>

            <div class="col-md-2">
            </div>
        </div>
        </br>
        </br>

    </div>
</div>
   
   

       