    <script>
        function sendMessage(msg){
            fetch('/fetchdemo/'+msg).then(function(res){
                res.json().then(function(json) {
                    alert(json.msg);
                });
            })
        }
    </script>    

    <title>Northern Valley - Shop</title>
  
    <!-- Bootstrap Core CSS -->
 

    <!-- Custom CSS -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<div >
        <img id="imageshop" src = "/pictures/wineshop.jpg" alt "Wineyard" />
        <br/>      
</div>

<div style="background-color:#FFFFFF">
    <div class="container" >
        <h1 id="h1about"> Shop</h1></br>
        <p id="pabout"> We are proud to introduce our limited production wines, which are simply the very finest wines we can craft.  From each harvest we set aside the best quality fruit to produce one bottle of wine of truly exceptional character.  We endeavor to include fruit from the finest barrels from our vineyards.</p>
        <p id="pabout">The flavor profiles, acid and tannin structural components, and their mouthfeel on the palate, define these wines as unique reflections of their sources. Hope you enjoy them!</p>
    </div>
    </br>
<div class="container">

                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/pictures/northern.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right price">$24.99</h4>
                                <h4><a class="productname" href="#">Northern Special Reserve, 2014</a>
                                </h4>
                                <p>The nose shows a complex bouquet of wild black berries, licorice and violets followed by a palate filled with dark fruit flavors that are savored on the finish.
</p> </br>
                            </div>
                            <div class="ratings">
                               
                                <a class="btn btn-default btn-sm" href="#" role="button">BUY NOW</a>
                                <p class="pull-right">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                              
                            </div>
                              </br>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/pictures/blackstone.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right price">$19.99</h4>
                                <h4><a class="productname" href="#">Blackstone Merlot, 2015 </a>
                                </h4>
                                <p>Expressive flavors of cherries and berries are joined by subtle nuances of mocha and spice. Blackberries are repeated on the palate with notes of cherries and spice.
</p></br>
                            </div>
                            <div class="ratings">
                                 <a class="btn btn-default btn-sm" href="#" role="button">BUY NOW</a>
                                <p class="pull-right">
                                     <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                             </br>
                        </div>
                    </div>

                 <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/pictures/doug dog.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right price">$29.99</h4>
                                <h4><a class="productname" href="#">Doug Dog Valley, 2015</a>
                                </h4>
                                <p>Bursting with aromas of blueberry, blackberry and a hint of cedar. Berry fruits continue on the palate rounded out with juicy cherries and integrated oak.
</p></br>
                            </div>
                            <div class="ratings">
                                <a class="btn btn-default btn-sm" href="#" role="button">BUY NOW</a>
                                <p class="pull-right">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                             </br>
                        </div>
                    </div> 
                    </div>
                     
                     <div class="row">
                     <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/pictures/river road.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right price">$20.99</h4>
                                <h4><a class="productname" href="#">River Road Sauvignon, 2016</a>
                                </h4>
                                <p>Great expression of Sauvignon Blanc, with flavors of peach, pear, and violet. Perfect for seafood or goat cheese
</p></br>
                            </div>
                            <div class="ratings">
                                <a class="btn btn-default btn-sm" href="#" role="button">BUY NOW</a>
                                <p class="pull-right">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                             </br>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/pictures/pittsburgh kiss.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right price">$32.99</h4>
                                <h4><a class="productname" href="#">Pittsburgh Kiss, 2014</a>
                                </h4>
                                <p>Made from old vines, which intensifies the flavor, this estate-bottled wine is a fine expression of Sauvignon Blanc. Refreshingly zesty with crisp notes of citrus and minerals, dry and complex.
</p></br>
                            </div>
                            <div class="ratings">
                                  <a class="btn btn-default btn-sm" href="#" role="button">BUY NOW</a>
                                <p class="pull-right">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                             </br>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                         <div class="thumbnail">
                            <img src="/pictures/barefoot.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right price">$17.99</h4>
                                <h4><a class="productname" href="#">Barefoot Cellars Pinot Grigio, 2016</a>
                                </h4>
                                <p>This is a fruit-driven style of Pinot Grigio with citrus and apple flavors. The finish is crisp and refreshing.
</p></br>
                            </div>
                            <div class="ratings">
                                 <a class="btn btn-default btn-sm" href="#" role="button">BUY NOW</a>
                                <p class="pull-right">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                             </br>
                             
                        </div>   
                    </div>

                </div>

            </div>
               </br>
            </div>
         
            </div>


 
    <!-- /.container -->









