

    <title>Northern Valley - Shop</title>
  
    <!-- Bootstrap Core CSS -->
 

    <!-- Custom CSS -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<div class="container">
                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/pictures/northern.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$24.99</h4>
                                <h4><a href="#">Northern Special Reserve, 2014</a>
                                </h4>
                                <p>The nose shows a complex bouquet of wild black berries, licorice and violets followed by a palate filled with dark fruit flavors that are savored on the finish.
</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/pictures/blackstone.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$19.99</h4>
                                <h4><a href="#">Blackstone Merlot, 2015 </a>
                                </h4>
                                <p>Expressive flavors of cherries and berries are joined by subtle nuances of mocha and spice. Blackberries are repeated on the palate with notes of cherries and spice.
</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                     <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                 <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/pictures/doug dog.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$29.99</h4>
                                <h4><a href="#">Doug Dog Valley, 2015</a>
                                </h4>
                                <p>Bursting with aromas of blueberry, blackberry and a hint of cedar.
Berry fruits continue on the palate rounded out with juicy cherries and integrated oak
</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div> 
                    </div>
                     <div class="row">
                     <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/pictures/river road.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$20.99</h4>
                                <h4><a href="#">River Road Sauvignon, 2016</a>
                                </h4>
                                <p>Great expression of Sauvignon Blanc, with flavors of peach, pear, and violet. Perfect for seafood or goat cheese
</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/pictures/pittsburgh kiss.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$32.99</h4>
                                <h4><a href="#">Pittsburgh Kiss, 2014</a>
                                </h4>
                                <p>Made from old vines, which intensifies the flavor, this estate-bottled wine is a fine expression of Sauvignon Blanc. Refreshingly zesty with crisp notes of citrus and minerals, dry and complex.
</p>
                            </div>
                            <div class="ratings">
                                 <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                         <div class="thumbnail">
                            <img src="/pictures/barefoot.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$17.99</h4>
                                <h4><a href="#">Barefoot Cellars Pinot Grigio, 2016</a>
                                </h4>
                                <p>This is a fruit-driven style of Pinot Grigio with citrus and apple flavors. The finish is crisp and refreshing.
</p>
                            </div>
                            <div class="ratings">
                                 <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                        
                    </div>

                </div>

            </div>
            </div>
     </body> 

 
    <!-- /.container -->









