

<title>Northern Valley - Thank you</title>
<div class= "thanks">
<h1 id = h1thankyou> Thank you for shopping with us !  </h1>
<p id = pthankyou> We will send you an E-mail with your order Details and a payment link. Enjoy your Northern Valley Wine! </p>
</div>